[defaults]
inventory = hosts
stdout_callback = yaml # makes error output more readable

[ssh_connection]
pipelining = True
# enable this if ansible hangs on long-running tasks
#ssh_args = -o ServerAliveInterval=100 -o ControlMaster=auto -o ControlPersist=60m
